.github/**
.vscode-test.*
.vscode-test
.vscode-test/**
.gitignore
package-lock.json
src/**
test/**
scripts/**
out/**
tsconfig.json
tsconfig.test.json
tsconfig.unit.json
node_modules/.cache/**
**/*.map
