[submodule "vendor/registry-relay"]
	path = vendor/registry-relay
	url = git@github.com:jeremi/registry-relay.git
[submodule "vendor/registry-platform"]
	path = vendor/registry-platform
	url = git@github.com:jeremi/registry-platform.git
[submodule "vendor/registry-notary"]
	path = vendor/registry-notary
	url = git@github.com:jeremi/registry-notary.git
[submodule "vendor/cel-mapping"]
	path = vendor/cel-mapping
	url = git@github.com:PublicSchema/crosswalk.git
