[submodule "vendor/registry-relay"]
	path = vendor/registry-relay
	url = git@github.com:jeremi/registry-relay.git
[submodule "vendor/registry-platform"]
	path = vendor/registry-platform
	url = git@github.com:jeremi/registry-platform.git
[submodule "vendor/registry-notary"]
	path = vendor/registry-notary
	url = git@github.com:jeremi/registry-notary.git
[submodule "vendor/crosswalk"]
	path = vendor/crosswalk
	url = git@github.com:PublicSchema/crosswalk.git
[submodule "vendor/registry-manifest"]
	path = vendor/registry-manifest
	url = git@github.com:jeremi/registry-manifest.git
[submodule "vendor/registry-atlas"]
	path = vendor/registry-atlas
	url = git@github.com:jeremi/registry-atlas.git
[submodule "vendor/esignet-relay-authenticator"]
	path = vendor/esignet-relay-authenticator
	url = git@github.com:jeremi/esignet-relay-authenticator.git
